
/* --------------------------------------------------
 * Sticky footer styles
 * ----------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

dl {
    font-size: 14pt;
}

p {
    font-size: 14pt;
}

.info {
    font-size: 14px;
}

.author {
    font-size: 15px;
}

h4 {
    margin-bottom: 10px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
    padding-bottom: 90px;
    position: relative;
}
a.button:visited
{
    color:inherit;
}
.button
{
    padding: 6px 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 6px;
}
.conf
{
    color:inherit;
    text-decoration:none;
}
.conf:visited
{
    color:inherit;
    text-decoration:none;
}
.conf:hover
{
    color:inherit;
    text-decoration:none;
}
.author
{
    color:inherit;
    /*text-decoration:none;*/
}
.author:visited
{
    color:inherit;
    /*text-decoration:none;*/
}
.author:hover
{
    color:inherit;
    /*text-decoration:none;*/
}

.confname
{
    color:inherit;
}
.confname:visited
{
    color:inherit;
    text-decoration:none;
}

.news-list
{
    list-style: none;
    padding-left: 0;
}
  
.news-list li
{
    margin-bottom: 8px;
    line-height: 1.5;
}
  
.news-date
{
    font-weight: bold;
    margin-right: 6px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}
